# https://git-scm.com/docs/gitmailmap
# If the file .mailmap exists at the toplevel of the repository, or at the location pointed to by the mailmap.file or mailmap.blob configuration options (see git-config[1]),
# it is used to map author and committer names and email addresses to canonical real names and email addresses.
Syntony <syntony@aon.at>
Hahnl Josef <Syntony@aon.at>